<div class="container-fluid">
  <div class="row">
    <div class="btn-color-toggle">
    </div>
    <div class="navbar-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-sm-2 col-xs-2">
            <a class="navbar-brand" href="#/">
              <img src="images/logo.svg" alt="Project name" class="logo" />
            </a>
          </div>
          <div class="col-lg-3 col-sm-10 col-xs-10">
            <ul class="list-inline menu">
              <li>
                <a class="pages color-active" href="categories.html">Categories</a>
              </li>
              <li>
                <a href="channel.html">Channels</a>
              </li>
            </ul>
          </div>
          <div class="visible-xs visible-sm clearfix"></div>
          <div class="col-lg-6 col-sm-8 col-xs-12">
            <logo-menu-search-top search="$ctrl.search"></logo-menu-search-top>

          </div>
          <div class="visible-xs clearfix"></div>
          <div class="col-lg-2 col-sm-4  col-xs-8">
            <div class="avatar dropdown" id="logo-menu-drop-down-logout" ng-class="{'open':$ctrl.dropDownUser}" ng-if="$ctrl.user.auth">
              <img ng-click="$ctrl.buttonLogin()" ng-src="{{ $ctrl.user.image ? $ctrl.user.image : 'images/user-admin-ava.png' }}"
                   class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" alt="avatar" style="width:50px;cursor: pointer" />
              <ul class="dropdown-menu">
                <li>
                  <a ng-click="$ctrl.logout()" href="">Logout</a>
                </li>
              </ul>
            </div>
            <div class="selectuser btn-group pull-left dropdown" id="logo-menu-drop-down-logout" ng-class="{'open':$ctrl.dropDownUser}" ng-if="!$ctrl.user.auth">
              <button ng-click="$ctrl.buttonLogin()" class="btn btn-default dropdown-toggle"
                      type="button" id="dropdownMenu1" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                SIGN IN
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="#/login">Login</a>
                </li>
                <li>
                  <a href="#/signup">Sign up</a>
                </li>
              </ul>
              <span class="status"></span>
              <div class="clearfix"></div>
            </div>
          </div>
          <div>
            <a href="" ng-click="$ctrl.upload()">
              <div class="upload-button">
                <i class="cv cvicon-cv-upload-video"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<confirm modal-params="$ctrl.modal"></confirm>
