<div class="container-fluid">
  <div class="row">
    <div class="btn-color-toggle">
      <!-- <img src="images/icon_bulb_dark.png" alt=""> -->
    </div>
    <div class="navbar-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-sm-2 col-xs-2">
            <a class="navbar-brand" href="#/">
              <img src="images/logo.svg" alt="Project name" class="logo" />
            </a>
          </div>
          <div class="col-lg-1 col-sm-10 col-xs-10">
            <ul class="list-inline menu">

              <li>
                <a class="pages color-active" href="#/" style="font-size: 23px;">play</a>
              </li>

            </ul>
          </div>
          <div class="visible-xs visible-sm clearfix"></div>
          <div class="col-lg-6 col-sm-8 col-xs-12">
            <logo-menu-search-top search="$ctrl.search"></logo-menu-search-top>

          </div>
          <div class="visible-xs clearfix"></div>
          <div class="col-lg-4 col-sm-6  col-xs-8">
            <div class="avatar pull-right" ng-if="$ctrl.user.auth">
              <a ng-href="{{ $ctrl.user.linkToPage }}">
                <img class="img-circle" ng-src="{{ $ctrl.user.image ? $ctrl.user.image : 'images/user-admin-ava.png' }}" alt="avatar" style="width:50px"
                />
              </a>
              <span class="status"></span>
            </div>
            <div class="selectuser pull-right" id="logo-menu-drop-down-logout">
              <div class="btn-group pull-right dropdown" ng-class="{'open':$ctrl.dropDownUser}">
                <button ng-click="$ctrl.buttonLogin()" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
                  {{ $ctrl.user.name || 'SIGN IN' }}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" ng-if="!$ctrl.user.auth">
                  <li>
                    <a href="#/login" ng-click="$ctrl.clickOnLogin()">Login</a>
                  </li>
                  <li>
                    <a href="#/signup" ng-click="$ctrl.clickOnLogin()">Sign up</a>
                  </li>
                </ul>

                <ul class="dropdown-menu" ng-if="$ctrl.user.auth">
                  <li>
                    <a ng-click="$ctrl.logout()" href="">Logout</a>
                  </li>
                  <li ng-if="$ctrl.user.role==='admin'">
                    <a ng-href="#/admin" ng-click="$ctrl.clickOnLogin()">Admin</a>
                  </li>
                </ul>

              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div>
          <a href="" ng-click="$ctrl.upload()">
            <div class="upload-button">
              <i class="cv cvicon-cv-upload-video"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>