<aside class="##aside-menu">

  <menu-item title="Home" fa="fas fa-home" href="#/"></menu-item>
  <menu-item links="$ctrl.myVideos" title="My Videos" fa="fas fa-video" href="#/">
  </menu-item>
  <menu-item links="$ctrl.favorite" title="Favorite" fa="fas fa-heart" href="#/"></menu-item>
  <menu-item links="$ctrl.channels" title="Channels" fa="fas fa-bullhorn"
    href="#/"></menu-item>
  <menu-item links="$ctrl.playlists" title="Playlists" fa="fas fa-clipboard-list"
    href="#/"></menu-item>

</aside>