.container-list {
  grid-area: container-list;
}

.content-header {
  text-align: left;
  grid-area: content-header;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
