<!-- 
  $ctrl.commentParams.userName
  $ctrl.commentParams.userImage
  $ctrl.commentParams.userRef
  $ctrl.commentParams.text
  $ctrl.commentParams.dateAgo
  $ctrl.commentParams.countLikes
  $ctrl.commentParams.countDislikes

        $ctrl.commentParams.id
        $ctrl.commentParams.text
        $ctrl.commentParams.videoId
        $ctrl.commentParams.userId
        $ctrl.commentParams.likesCount
        $ctrl.commentParams.dislikesCount
        $ctrl.commentParams.postDate
        $ctrl.commentParams.likeSign
        $ctrl.commentParams.userImage
 -->

<div class="cl-comment">
  <div class="cl-avatar">
    <a ng-href="{{ $ctrl.commentParams.userId }}">
      <img ng-src="{{ $ctrl.commentParams.userImage ? $ctrl.commentParams.userImage: 'images/user-admin-ava.png' }}"
        alt="avatar" style="width:70px" />
    </a>
  </div>
  <div class="cl-comment-text">
    <div class="cl-name-date">
      <a ng-href="{{ $ctrl.commentParams.userId }}"> {{$ctrl.commentParams.name}}</a> . {{$ctrl.commentParams.postDate}}</div>
    <div class="cl-text">{{ $ctrl.commentParams.text }}</div>
    <div class="cl-meta">
      <span class="green">
        <span class="circle"></span> {{$ctrl.commentParams.likesCount}}</span>
      <span class="grey">
        <span class="circle"></span> {{ $ctrl.commentParams.dislikesCount}}</span>
      <!-- <a href="#">Like</a>
      <a href="#">Dislike</a> -->


    </div>
    <!-- <div class="cl-replies">
      <a href="#">View all 5 replies
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
    </div> -->
    <div class="cl-flag" ng-if="$ctrl.user.auth">
      <a ng-href="" ng-click="$ctrl.likeComment(1)" ng-style="{'pointer-events': $ctrl.canLike ? 'auto' : 'none',  'text-decoration': $ctrl.canLike ? 'auto' : 'none'}">
        <i class="fa fa-thumbs-o-up" ng-style="{ color:  $ctrl.commentParams.likeSign === 1 ? 'green' : ''}"></i>
      </a>
      <a ng-href="" ng-click="$ctrl.likeComment(-1)" ng-style="{'pointer-events': $ctrl.canLike ? 'auto' : 'none' }">
        <i class="fa fa-thumbs-o-down" ng-style="{ color:  $ctrl.commentParams.dislikeSign === 1 ? 'red' : '', 'text-decoration': $ctrl.canLike ? 'auto' : 'none'}"></i>
      </a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>


<!-- reply comment -->
<!-- <div class="cl-comment-reply">
                                <div class="cl-avatar"><a href="#"><img src="images/ava7.png" alt=""></a></div>
                                <div class="cl-comment-text">
                                    <div class="cl-name-date"><a href="#">kingPIN</a> . 6 days ago</div>
                                    <div class="cl-text"> I was stuck too. then I started to shoot everything in Doom.</div>
                                    <div class="cl-meta"><span class="green"><span class="circle"></span> 70</span> <span class="grey"><span class="circle"></span> 9</span> . <a href="#">Reply</a></div>
                                </div>
                                <div class="clearfix"></div>
                            </div> -->
<!-- END reply comment -->