<!-- "user_id": 1,
    "name": "Title",
    "play_count": 0,
    "about": "about",
    "id": 5,
    "image": null,
    "status": "pending",
    "likes_count": 0,
    "dislikes_count": 0,
    "post_date": "2018-5-19",
    "tag": "news",
    "uuid": "E5LwvQeC",
    "visibility": "public",
    "low_quality": null,
    "high_quality": null,
    "duration": null 
    
    watched
  
  -->


<div class="col-lg-3 col-sm-6 videoitem">
  <div class="b-video">
    <div class="v-img">
      <a ng-href="#/video?uuid={{ $ctrl.videoParams.uuid }}">
        <img ng-src="{{$ctrl.videoParams.image}}" alt="video" style="width:270px; height:169px;">
        <div ng-if=" $ctrl.videoParams.watched" class="watched-mask"></div>
        <div ng-if="$ctrl.videoParams.watched" class="watched">WATCHED</div>
      </a>
      <div class="time">{{ $ctrl.videoParams.duration }}</div>

      <div ng-show="$ctrl.mouseOnVideo" class="plus" ng-click="$ctrl.clickOnPlus()">
        <i class="cvicon-cv-plus" aria-hidden="true"></i>
      </div>
      <div ng-show="$ctrl.mouseOnPlus" class="plus-details" style="z-index:1">
        <ul ng-show="$ctrl.user.auth">
          <li>
            <a href="#/">
              <i class="cvicon-cv-watch-later" aria-hidden="true"></i> Watch Later</a>
          </li>
          <li name="playlists">
            <a href="#">
              <i class="cvicon-cv-playlist" aria-hidden="true"></i> Add to Playlist </a>
            <ul ng-show="$ctrl.mouseOnPlayLists">
              <li>playlist 1</li>
              <li>playlist 2</li>
              <li>playlist 3</li>
              <li>playlist 4</li>
            </ul>
          </li>
        </ul>
        <ul ng-if="!$ctrl.user.auth">
          <li>
            Please Authorize
          </li>
          <li>
            <a href="#/login">
              <i class="cvicon-cv-user" aria-hidden="true"></i> LOGIN </a>
          </li>
          <li>
            <a href="#/signup">
              <i class="cvicon-cv-login" aria-hidden="true"></i> SIGN UP </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="v-desc">
      <a href="#/video?uuid={{ $ctrl.videoParams.uuid }}">{{ $ctrl.videoParams.name }}</a>
    </div>
    <div class="v-views">
      {{ $ctrl.videoParams.playCount }} views
      <span class="v-percent">
        <span class="v-circle"></span> {{ $ctrl.percent }}%</span>

    </div>
  </div>
</div>