<div class="modal" ng-class="{'show':$ctrl.modalParams.showModal, 'hide': !$ctrl.modalParams.showModal}"
  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          ng-click="$ctrl.accept(false)">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="modal-btn-si" ng-click="$ctrl.accept(true)">Yes</button>
        <button type="button" class="btn btn-primary" id="modal-btn-no" ng-click="$ctrl.accept(false)">No</button>
      </div>
    </div>
  </div>
</div>