<content-wrapper>
  <div class="col-lg-12">
    <channel-update ng-if="($ctrl.user.auth && $ctrl.subscribes.length)" subscribes="$ctrl.subscribes"></channel-update>

    <row-videos init-data-ready="$ctrl.initDataReady" playlists="$ctrl.playlists" ng-if="initData.length" ng-repeat="(title, initData) in $ctrl.initData"
      user="$ctrl.user" init-data="initData" head-title="{{ title }}"></row-videos>

    <row-playlists user="$ctrl.user" playlists="$ctrl.playlists"></row-playlists>
  </div>
</content-wrapper>