{
  "extends": ["airbnb-base", "prettier", "plugin:angular/johnpapa"],
  "env": {
    "browser": true
  },
  "rules": {
    "no-restricted-syntax": ["error", "ForInStatement"],
    "no-underscore-dangle": [0],
    "no-console": 1,
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "no-param-reassgn": 0,
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ],
    "settings": {
      "angular": 1
    },
    "wrap-iife": ["error", "inside"],
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ]
  },
  "globals": {
    "angular": true,
    "swal": true
  },
  "settings": {
    "angular": 1
  }
}
