<div class="##container border">

  <head-search class="##header border"></head-search>

  <menu class="##aside-menu border"></menu>

  <main class="##container-list">

    <div ng-view></div>

    <!-- <div class="container-list-item">
        
        <h2 class="content-header ">
          Recommended videos
        </h2>
        
        <div class="content border ">
          <div class="content-video border ">
            <div class="content-video_image border "></div>
            <div class="content-video_title border ">
              <strong> [Trance] Best of Female Vocal Trance (November 2015) SexyTranceMusic
              </strong>
            </div>
            <div class="content-video_about border ">
              366 тыс. просмотров
              <br> 1,1 млн просмотров
              <br> 2 года назад
            </div>
          </div>
        </div>
        <hr>
      </div> -->

  </main>




  <footer class="##footer ">
    <i class="fab fa-jedi-order "></i>
  </footer>
</div>