<video poster="" style="width:100%;height:100%;" controls="controls" width="100%"
  height="100%" ng-click="$ctrl.playPause()" controls>
  <!-- autoplay -->
  <source src="" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'></source>
  <!-- type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' -->
</video>

<div class="row">
  <div class="col-sm-6">
    <button ng-if="$ctrl.watchVideo.lowQuality" type="button" class="btn" ng-class="{ 'btn-secondary': $ctrl.currentStateResolution==='HD','btn-danger':$ctrl.currentStateResolution==='SD'}"
      ng-click="$ctrl.changeResolution('SD')">SD</button>
    <button ng-if="$ctrl.watchVideo.highQuality" type="button" class="btn"
      ng-class="{ 'btn-secondary': $ctrl.currentStateResolution==='SD','btn-danger':$ctrl.currentStateResolution==='HD'}"
      ng-click="$ctrl.changeResolution('HD')">HD</button>
  </div>

  <div class="col-sm-6" style="text-align: right">
    <button ng-if="$ctrl.user.auth" type="button" class="btn" ng-class="{ 'btn-secondary': $ctrl.like,'btn-danger':$ctrl.like}"
      ng-click="$ctrl.setLike()">
      <i class="fa fa-thumbs-o-up" style="color:black; font-size: 25px"></i>
    </button>
    <button ng-if="$ctrl.user.auth" type="button" class="btn" ng-class="{ 'btn-secondary': $ctrl.like,'btn-danger':$ctrl.dislike}"
      ng-click="$ctrl.setDislike()">
      <i class="fa fa-thumbs-o-down" style="color:black; font-size: 25px"></i>
    </button>
  </div>
</div>


<!-- ng-click="$ctrl.user.auth" -->
<!-- ng-class="{ 'btn-secondary': $ctrl.currentStateResolution==='SD','btn-danger':$ctrl.currentStateResolution==='HD'}" -->
<!-- ng-click="$ctrl.changeResolution('HD')" -->
<!-- ng-class="{ 'btn-secondary': $ctrl.currentStateResolution==='HD','btn-danger':$ctrl.currentStateResolution==='SD'}" -->