<confirm modal-params="$ctrl.modal"></confirm>
<div class="channel-details">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-2 col-xs-12">
      <div class="c-details">
        <div class="c-name">
          {{$ctrl.aboutAuthor.name}}
        </div>

        <div ng-transclude></div>


        <div class="c-sub pull-right">
          <div class="c-sub-wrap">
            <div ng-if="$ctrl.aboutAuthor.id !== $ctrl.user.id" class="c-f" style="cursor:pointer" ng-click="$ctrl.subscribe()" style="cursor: pointer; width: 110px;">
              <span ng-if="!$ctrl.aboutAuthor.isSubscribed">Subscribe</span>
              <span ng-if="$ctrl.aboutAuthor.isSubscribed">Unsubscribe</span>
            </div>
            <div ng-if="$ctrl.aboutAuthor.id === $ctrl.user.id" class="c-f" style="width: 110px;">
              <span>Subscribes</span>
            </div>
            <div class="c-s">
              {{ $ctrl.aboutAuthor.subscribesCount || 0}}
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>