<div class="author">
  <a ng-href="{{ $ctrl.aboutAuthor.linkToChannel }}">
    <img data-ng-src="{{$ctrl.aboutAuthor.image || 'images/user-admin-ava.png'}}"
      alt="" class="sv-avatar">
  </a>
  <div class="sv-name">
    <div>
      <a ng-href="{{ $ctrl.aboutAuthor.linkToChannel }}">{{ $ctrl.aboutAuthor.name }}</a> .
      <br>{{ $ctrl.aboutAuthor.videos }} Videos / {{ $ctrl.aboutAuthor.views
      }} views / {{ $ctrl.aboutAuthor.likes }} likes / {{ $ctrl.aboutAuthor.dislikes
      }} dislikes
    </div>
    <!-- </div> -->
    <div class="c-sub">
      <div ng-if="$ctrl.user.id !== $ctrl.aboutAuthor.id" class="c-f" style="cursor: pointer; width: 110px;"
        ng-click="$ctrl.subscribe()">
        <span ng-if="!$ctrl.aboutAuthor.isSubscribed">Subscribe</span>
        <span ng-if="$ctrl.aboutAuthor.isSubscribed">Unsubscribe</span>
      </div>

      <div ng-if="$ctrl.user.id === $ctrl.aboutAuthor.id" class="c-f" style="width: 110px;">
        <span>Subscribes</span>

      </div>

      <div class="c-s">
        {{ $ctrl.aboutAuthor.subscribesCount || 0 }}
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="sv-views">
    <div class="sv-views-count">
      {{ $ctrl.watchVideo.playCount }} views
    </div>
    <div class="sv-views-progress">
      <div class="sv-views-progress-bar" ng-style="{ 'width': $ctrl.watchVideo.percent+'%' }"></div>
    </div>
    <div class="sv-views-stats">
      <span class="percent"> {{ $ctrl.watchVideo.percent }} %</span>
      <span class="green">
        <span class="circle"></span> {{ $ctrl.watchVideo.likesCount }}</span>
      <span class="grey">
        <span class="circle"></span>{{ $ctrl.watchVideo.dislikesCount }} </span>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<confirm modal-params="$ctrl.modal"></confirm>