<div class="content-block head-div">
  <div class="cb-header">
    <div class="row">
      <!--  -->
      <div class="col-lg-10 col-sm-10 col-xs-8">
        <ul class="list-inline">
          <li>
            <span class="color-active">{{ $ctrl.headTitle }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- VideoList -->
  <div class="cb-content videolist">
    <div class="row">
      <!-- carousel -->
      <div uib-carousel active="$ctrl.active" interval="$ctrl.myInterval" no-wrap="$ctrl.noWrapSlides" class="carousel slide" data-ride="carousel"
        template-url="app/templates/templateCarousel.html">
        <div uib-slide ng-repeat="slide in $ctrl.sliders track by slide.sliderIndex" index="slide.sliderIndex">

          <video-item ng-repeat="video in slide.data" video-params="video" user="$ctrl.user" playlists="$ctrl.playlists"></video-item>
        </div>
      </div>

    </div>
  </div>
</div>