<div class="reply-comment">
  <div class="rc-header">
    <i class="cv cvicon-cv-comment"></i>
    <span class="semibold"> {{ $ctrl.commentsToVideoMain.length }}</span> Comments</div>
  <div class="rc-ava">
    <a ng-href="{{ $ctrl.user.linkToPage || '' }}">
      <img class="img-circle" ng-src="{{ $ctrl.user.image ? $ctrl.user.image : 'images/user-admin-ava.png' }}" alt="avatar" style="width:50px"
      />
    </a>
  </div>
  <div class="rc-comment">
    <form ng-submit="$ctrl.userSubmitComment()">
      <textarea rows="3" ng-model="$ctrl.inputByUser" ng-keypress="$ctrl.listenToAddSubmit($event)"></textarea>
      <button type="submit">
        <i class="cv cvicon-cv-add-comment"></i>
      </button>
    </form>
  </div>
  <div class="clearfix"></div>
</div>
<div class="comments-list" ng-show="$ctrl.haveComments">
  <div class="cl-header">
    <div class="c-nav">
      <ul class="list-inline">
        <li>
          <a href="" ng-class="{ 'active': $ctrl.sortingComments==='likes' }" ng-click="$ctrl.popularNewestComments('likes')">Popular Comments</a>
        </li>
        <li>
          <a href="" ng-class="{ 'active': $ctrl.sortingComments==='id' }" ng-click="$ctrl.popularNewestComments('id')">Newest Comments</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- comment -->

  <comment class="cl-comment" ng-repeat="comment in $ctrl.commentsToVideo" user="$ctrl.user" watch-video="$ctrl.watchVideo"
    comment-params="comment"></comment>


  <div class="row">
    <div class="col-lg-12">
      <div class="loadmore-comments">
      </div>
    </div>
  </div>

</div>