<!-- head-search- -->
<div class="##header-grid">
  <span class="##header_burger-menu">
    <icon fa="fas fa-bars"></icon>
  </span>

  <a href="#/" class="##header_logo"></a>

  <span class="##header_search">
    <input class="##header_search_input" type="text" placeholder=" search">
    <span class="##header_search_icon ##icon">
      <icon fa="fas fa-search"></icon>
    </span>
  </span>

  <span class="##header_icons">
    <span class="##icon">
      <icon fa="fas fa-user"></icon>
    </span>
    <span class="##icon">
      <icon fa="fas fa-bell"></icon>
    </span>
  </span>
</div>