<header class="header">

  <span class="header_burger-menu" href="">
    <span class="icon">
      <i class="fas fa-bars"></i>
    </span>
  </span>

  <span class="header_logo"></span>


  <span class="header_search">

    <input class="header_search_input" type="text" placeholder=" search">
    <span class="header_search_icon icon">
      <i class="fas fa-search"></i>
    </span>

  </span>


  <span class="header_icons">
    <span class="icon">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon">
      <i class="fas fa-bell"></i>
    </span>
  </span>

</header>