.header {
  grid-area: header;
  width: 100%;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 40px 5px 125px 110px auto 30px 60px;
  grid-template-areas: '  burger-menu .   logo  . search . icons ';
}

.header_burger-menu {
  grid-area: burger-menu;
  align-self: center;
}

.header_logo {
  grid-area: logo;
  align-self: center;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 100%;
}

.header_search {
  grid-area: search;
  text-align: center;
  display: grid;
  align-items: center;
  grid-gap: 2px;
}

.header_search_input {
  grid-row: 1;
  font-size: 0.7em;
  width: 100%;
  height: 30px;
  align-self: right;
  border: solid 1px black;
}

.header_search_icon {
  grid-row: 1;
  height: 30px;
  width: 70px;
  font-size: 0.8em;
  border: gray solid 1px;
  display: inline-block;
  padding-top: 5px;
}

.header_icons {
  grid-area: icons;
  align-self: center;
  text-align: right;
}

.icon {
  cursor: pointer;
  /* color: #555; */
}
.icon-hover {
  color: rgb(246, 11, 11);
}

.header_icons > a:visited {
  text-decoration: none;
}
