<div class="single-video dark">
  <logo-menu user="$ctrl.user"></logo-menu>
  <go-to></go-to>

  <content-wrapper>
    <div class="col-lg-8 col-xs-12 col-sm-12">
      <video-player user="$ctrl.user" class="sv-video" watch-video="$ctrl.watchVideo"
        type="high"></video-player>
      <h1>
        <a href="#">{{ $ctrl.watchVideo.name }}</a>
      </h1>
      <about-author watch-video="$ctrl.watchVideo" user="$ctrl.user"></about-author>
      <div class="info">
        <about-video watch-video="$ctrl.watchVideo"></about-video>
        <ad-google class="adblock2" text="728 x 90"></ad-google>
        <comments-area class="comments" watch-video="$ctrl.watchVideo" user="$ctrl.user"></comments-area>
      </div>
    </div>

    <!-- right column -->
    <div class="col-lg-4 col-xs-12 col-sm-12">

      <!-- up next -->
      <div class="caption">
        <div class="left">
          <a href="#">Up Next</a>
        </div>
        <div class="right">
          <a href="" ng-click="$ctrl.autoplayChange()">Autoplay
            <i class="cv" ng-class="{'cvicon-cv-btn-on': $ctrl.watchVideo.autoplay, 'cvicon-cv-btn-off': !$ctrl.watchVideo.autoplay }"></i>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>


      <!-- <div class="list">
        <recommended-videos class="h-video row" ng-repeat="video in $ctrl.channelVideos"
          video-params="video">
        </recommended-videos>
      </div> -->

      <!-- <ad-google class="adblock" text="336 x 280"></ad-google> -->

      <!-- <div class="caption">
        <div class="left">
          <a href="#">Recomended Videos</a>
        </div>
        <div class="clearfix"></div>
      </div> -->


      <div class="list">
        <recommended-videos ng-repeat="video in $ctrl.recommendedVideos" video-params="video"
          class="h-video row">
        </recommended-videos>
      </div>
      <!-- END Recomended Videos -->

      <!-- load more -->
      <div class="loadmore">
        <a href="#">Show more videos</a>
      </div>
    </div>



  </content-wrapper>
  <row-footer></row-footer>
</div>