<div class="c-nav">
  <ul class="list-inline">
    <li>
      <a href="" ng-click="$ctrl.currentMenu.page='videos'" ng-class="{'anchor-active': $ctrl.currentMenu.page=== 'videos'}">Videos</a>
    </li>
    <li>
      <a href="" ng-click="$ctrl.currentMenu.page='playlist'" ng-class="{'anchor-active': $ctrl.currentMenu.page=== 'playlist'}">Playlist</a>
    </li>
    <!-- <li>
      <a href="" ng-click="$ctrl.currentMenu.page='channels'" ng-class="{'anchor-active': $ctrl.currentMenu.page=== 'channels'}">Channels</a>
    </li>
    <li>
      <a href="" ng-click="$ctrl.currentMenu.page='about'" ng-class="{'anchor-active': $ctrl.currentMenu.page=== 'about'}">About</a>
    </li> -->
  </ul>
</div>