<confirm modal-params="$ctrl.modal"></confirm>

<logo-menu user="$ctrl.user"></logo-menu>

<content-wrapper>

  <div class="col-lg-12 v-history">
    <div class="content-block" style="min-height: 900px;">
      <div class=" cb-header ">
        <div class="row ">
          <div class="col-lg-8 col-xs-12 col-sm-6 ">
            <ul class="list-inline ">
              <li>
                <a href=" " class="color-active active ">Videos to approve</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-xs-12 col-sm-6 h-clear ">
            <a href=" " ng-class="{ active: $ctrl.checkedFilter,
      'color-active': $ctrl.checkedFilter } " ng-click="$ctrl.filterChecked() ">
              <i class="fa fa-check-circle "></i> Approve checked</a>
          </div>
          <div class="clearfix "></div>
        </div>
      </div>


      <div class="col-lg-12 ">
        <div class="content-wrapper upload-page edit-page ">
          <div class="container-fluid u-details-wrap ">
            <div class="row ">
              <div class="u-area ">
                <!-- <form> -->
                <div class="col-lg-12 ">
                  <div class="form-group ">
                    <label for="e1 ">Video filter</label>
                    <input type="text " ng-model="$ctrl.videoSearchText
      " class="form-control " id="e1 " style="color:white; " placeholder="Filter
      videos " ng-change="$ctrl.inputSearch() ">
                  </div>
                </div>


                <button class="btn btn-primary u-btn " ng-click="$ctrl.saveChangesButton() "
                  ng-disabled="$ctrl.buttonDisable ">Save changes</button>
                <!-- </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>


      <admin-video-item ng-repeat="video in $ctrl.videosToApproveAfter
      " video-params="video " user="$ctrl.user "></admin-video-item>



      <!-- <div class="loadmore ">
        <form action="# " method="post ">
          <button class="btn btn-default h-btn ">Load more Videos</button>
        </form>
      </div> -->


    </div>
  </div>


</content-wrapper>
<row-footer></row-footer>