<form ng-submit="$ctrl.submit()">
  <div class="topsearch">
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">
        <i class="fa fa-search"></i>
      </span>
      <input ng-model="$ctrl.searchText" type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon2">
      <div class="input-group-btn" id="logo-menu-search-top-drop-down-logout" ng-class="{'open':$ctrl.dropDownSearchMenu}">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          ng-click="$ctrl.submit()">
          <i class="cv cvicon-cv-video-file"></i>&nbsp;&nbsp;&nbsp;
        </button>
        <ul class="dropdown-menu">
        </ul>
      </div>
    </div>
  </div>
</form>