<div class="row">
  <div class="h-video">
    <div class="col-lg-2 col-xs-12 col-sm-5">
      <div class="v-img">
        <a ng-href="{{ $ctrl.videoParams.linkToVideo }}">
          <img ng-src="{{ $ctrl.videoParams.image || 'images/video1-1.png' }}" alt="">
        </a>
        <div class="time">{{ $ctrl.videoParams.duration }}</div>
      </div>
    </div>
    <div class="col-lg-8 col-xs-10 col-sm-5">
      <div class="v-desc">
        <a ng-href="{{ $ctrl.videoParams.linkToVideo }}">{{ $ctrl.videoParams.name }}</a>
      </div>
      <div class="v-views">
        {{ $ctrl.videoParams.playCount }} views. {{ $ctrl.videoParams.postDate
        }}
      </div>
      <div class="v-percent">
        <span class="v-circle"></span> {{ $ctrl.videoParams.percent }}%</div>
    </div>
    <div class="col-lg-2 col-xs-2 col-sm-2 h-clear-list">
      <a href="" ng-click="$ctrl.approve(true)" ng-class="{ active: $ctrl.videoParams.approveVideo==='YES' ,  'color-active': $ctrl.videoParams.approveVideo==='YES' }">
        <i class="cvicon-cv-plus" style="font-size: 1.9em"></i>
      </a>
      <a href="" ng-click="$ctrl.approve(false)" ng-class="{ active: $ctrl.videoParams.approveVideo==='NO',  'color-active': $ctrl.videoParams.approveVideo==='NO'  }">
        <i class="cvicon-cv-cancel" style="font-size: 1.7em"></i>
      </a>
    </div>
    <div class="clearfix"></div>
    <div class="h-divider"></div>
  </div>
</div>