<div class="cmp-video-icon-cmp-content-video">
  <div class="cmp-video-icon-cmp-content-video_image"></div>
  <div class="cmp-video-icon-cmp-content-video_title">
    <strong> {{ $ctrl.link.title }}</strong>
  </div>
  <div class="cmp-video-icon-cmp-content-video_about">
    {{ $ctrl.link.viewCount }}
    <br> {{ $ctrl.link.dateAdded }}
  </div>
</div>



<style>
.cmp-video-icon-cmp-content-video {
  width: 231px;
  display: grid;
  grid-template-rows: 129px 70px 60px 40px;
  grid-template-columns: auto;
  grid-template-areas:
    ' image '
    ' title'
    ' about'
    '.';
}

.cmp-video-icon-cmp-content-video_image {
  grid-area: image;
  background-image: url('../img/video1.png');
  background-repeat: no-repeat;
}

.cmp-video-icon-cmp-content-video_title {
  grid-area: title;
}

.cmp-video-icon-cmp-content-video_about {
  grid-area: about;
  color: #777;
  font-size: 0.8em;
}

</style>